.adProfil
  position: relative
  min-height 70px
  padding 10px borderMargin
  display: flex
  align-items: center;
  color blackColor
  font-family "Montserrat-Light"

  &:after
    content ''
    position: absolute
    bottom: 0px
    left: borderMargin
    right: borderMargin
    height: 2px
    background-color: grey

  .photo
    display: block
    width: 70px
    height: 70px
    border-radius: 45px

  .informations
    margin-left 20px

    h2, p
      margin 5px 0

  .name
    font-size: 1.1em
