.eventComp
    position: relative
    height 109px
    background url("../../assets/home/ad-bg.png") 100% 100%


    .shadow
        position relative
        height 109px
        background-image -moz-linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0));
        background-image -webkit-linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0));
        background-image -o-linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0));
        background-image linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0));

    .informations
        position absolute
        left 18px
        bottom 14px
        color white
        font-family "Montserrat-Light"
        font-size 14px

        div
            margin-bottom 3px

        .jobTitle
            font-family "Montserrat-Bold"
            text-transform uppercase
