<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gobelins.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>App Gobelins</name>
    <description>
		Internal social application of Gobelins, art school, based in Paris.
    </description>
    <author email="adrienl@outlook.com" href="http://cordova.io">
		Adrien Lav
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
