#events
	.list
		margin-top 80px
	

#event
	
	.eventComp
		margin-top 65px
		
	.eventInfos
		padding-right 20px
		padding-top 20px
		padding-left 20px
		font-family "Montserrat-Light"
		
		div.description
			.title
				font-size 16px
	    		font-family "Montserrat-Bold"
	    		color blue
	    		margin-bottom 20px
	    	
	    	.text
	    		margin-top 20px
	    		color black
		
		.sep
			width 100%
	    	height 2px 
	    	background blue
	    	margin-bottom 20px
	    	margin-top 20px
		