html, body
  font-family "Montserrat-Light"
  color blackColor

ul
  list-style: none

h1, h2, h3
  font-family "Montserrat-Bold"

.ads
  z-index: 1
  margin-top 65px

  a
    display block
    text-decoration: none
