// -----------------------------
// Imports

@import 'reset'
@import 'mixins'
@import 'generic'

// -----------------------------
// Variables

blue = #22378a
grey = #DCE1E8
black = #292A2B

borderMargin = 5%;



// -----------------------------
// Fonts

webfont('Montserrat-Bold', 'montserrat-bold-webfont', true, 'normal')
webfont('Montserrat-Black', 'montserrat-black-webfont', true, 'normal')
webfont('Montserrat-Regular', 'montserrat-regular-webfont', true, 'normal')
webfont('Montserrat-Light', 'montserrat-light-webfont', true, 'normal')
webfont('Montserrat-Hairline', 'montserrat-hairline-webfont', true, 'normal')



// -----------------------------
// Components

@import '../components/barMenu/bar-menu'
@import '../components/ad/ad'
@import '../components/adProfil/adProfil'



// -----------------------------
// Views

@import '../layout/layout'
@import '../views/login/login'
@import '../views/home/home'
@import '../views/single/single'
@import '../views/add/add'
