// -----------------------------
// Imports

@import 'reset'
@import 'mixins'
@import 'generic'



// -----------------------------
// Variables

blue = #22378a



// -----------------------------
// Fonts

webfont('Montserrat-Bold', 'montserrat-bold-webfont', true, 'normal')
webfont('Montserrat-Black', 'montserrat-black-webfont', true, 'normal')
webfont('Montserrat-Regular', 'montserrat-regular-webfont', true, 'normal')
webfont('Montserrat-Light', 'montserrat-light-webfont', true, 'normal')
webfont('Montserrat-Hairline', 'montserrat-hairline-webfont', true, 'normal')



// -----------------------------
// Components

@import '../components/barMenu/bar-menu'
@import '../components/ad/ad'
@import '../components/event/eventComp'



// -----------------------------
// Views

@import '../layout/layout'
@import '../views/login/login'
@import '../views/home/home'
@import '../views/single/single'
@import '../views/add/add'
@import '../views/profil/profil'
@import '../views/events/events'
@import '../views/search/search'
