#search
	background-color #fff
	
	.filters
		padding-top 1px
		padding-left 20px
		padding-right 20px
		padding-bottom 85px
		
		h2
			position fixed
			top 80px
			width 100%
			left 0px
			height 50px
			line-height 50px
			text-transform uppercase
			text-align center
			color blue
			border-bottom 2px solid #ddd
			background rgba(255,255,255,0.95)
			font-family "Montserrat-Light"
			font-size 13px
			z-index 2000
			
		ul
			position relative
			margin-top 135px
			width 100%
			padding-bottom 115px
			z-index 700
			
			&.choice
				opacity 0
				display none
				left 15px
				text-align left
				z-index 800
			
			li
				width 100%
				height 70px
				line-height 70px
				font-size 15px
				border-bottom 2px solid #ddd
				text-transform uppercase
				
				p
					width 50%
					
					&.left
						float left
					&.right
						float right
						text-align right
		
	
	.submit
		position fixed
		bottom 0px
		width 100%
		height 60px
		background blue
		text-align center
		line-height 60px
		color white
		text-transform uppercase
		font-family "Montserrat-Bold"
		z-index 1001