#barMenu 
	position fixed
	height 80px
	background-color blue
	color white
	width 100%
	top 0px
	z-index 1000
	display block
	
	&.hide
		display none

	.content
		position relative
		padding-top 30px
		text-align center
		
		.menu
			position absolute
			left 10px
			display inline-block
			width 30px
			height 26.5px
			background-image url("../../assets/barMenu/menu.png")
			background-size 100% 100%
		
		.back
			position absolute
			left 15px
			display inline-block
			width 12.6px
			height 22.6px
			background-image url("../../assets/barMenu/btnBack.png")
			background-size 100% 100%
		
		h1
			display inline-block
			font-size 18px
			top 2px
			position relative
			font-family "Montserrat-Light"
			
		.btnAdd
			position absolute
			right 10px
			display inline-block
			width 21px
			height 21px
			background-image url("../../assets/barMenu/btnAdd.png")
			background-size 100% 100%	