#barMenu 
	height 65px
	background-color blue
	color white
	position fixed
	width 100%
	top 0px
	z-index 1000

	.content
		padding-top 26px
		text-align center
		
		.menu
			position absolute
			left 10px
			display inline-block
			width 30px
			height 26.5px
			background-image url("../../assets/barMenu/menu.png")
			background-size 100% 100%
		
		h1
			display inline-block
			font-size 18px
			position relative
			top 2px
			font-family "Montserrat-Light"
			
		.btnAdd
			position absolute
			right 10px
			display inline-block
			width 23px
			height 23px
			background-image url("../../assets/barMenu/btnAdd.png")
			background-size 100% 100%	