#profil

  h2
    font-size: 1.1em
    color: blue
    text-transform: none
    margin-top 20px

  .line
    width: 100%;
    margin-top: 20px
    height: 2px
    background-color: blue

  // Header
  .header
    height: 150px
    background-color: backgroundDark
    display: flex
    align-items: center
    color: white

    .photo
      height: 100%

    .details
      margin: 20px 5%

      li
        margin 5px 0

    .name
      font-size: 1.8em

    .line
      background-color: grey
      margin: 0
      width: 100px


  // Informations
  .informations
    margin borderMargin 20px

    li
      margin-top: 10px


  // Works
  .works h2
    margin borderMargin 20px

  .workList
    display: flex;

  .workImage
    width: 25%;
